@font-face {
    font-family: "recharge_bold";
    src: url("../fonts/recharge_bold_OTF/Fonts/recharge_bd.otf");
}

.bodycontent {
    background-color: rgb(202, 202, 202);
}

.recharge {
    font-family: "recharge_bold";
    font-size: 1.3rem;
}

header {
    background-color: rgb(52, 51, 215);
    font-size: 15px;
}

/* .mainnav {
    background-color: black;
} */

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navlink {
    border-right: 2px solid black;
}

.site-footer {
    background-color: rgb(52, 51, 215);
    font-size: 0.8rem;
}
